.text p{

	margin: 0;
	padding bottom: 5px;
	padding-right:  140px;
	font-weight: bold;
	color:white

}

#elmali {
	font-size: 1em;
	color: white;
	margin: 0;
}

footer{
  color: white
}

h2{
	font-size: 3em;
	color: turquoise;
	margin: 0;
}


body {

	background-image: url("imgmusic/img/nebula.jpg");

	padding: 20px;
	width: auto;
	margin: 0;
}

a:link, a:visited{
	background-color: white;
	color: darkgrey;
	border: 3px solid blue;
	padding: 8px 16px;
	text-align: center;
	text-decoration: inherit;
	text-decoration-color: turquoise;
	display: inline-block;
	margin-bottom: 8px;
	font-size: 30px;
}
a:hover, a:active{
	background-color: turquoise;
	color: lightgrey;
}
.container{
	width:  70vw;
	height: 70vh;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin: 8% 14%;
}
