#Scorers {
	font-size :1.7rem;
	list-style-type: inherit;
	padding-left: 0;
	margin-bottom: 4rem;
	color: white
}
#lastScore{

	font-size: 3em;
	color: turquoise;
	margin: 0;
}
.container{
	width:  70vw;
	height: 70vh;
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: left;


	margin: 5% 10%;
}

body {

	background-image: url("imgmusic/img/nebula.jpg");

	padding: 20px;
	width: auto;
	margin: 0 auto;
}

a:link, a:visited{
	background-color: white;
	color: darkgrey;
	border: 3px solid blue;
	padding: 8px 16px;
	text-align: center;
	text-decoration: inherit;
	text-decoration-color: turquoise;
	display: inline-block;
	margin-bottom: 8px;
	font-size: 30px;
}
a:hover, a:active{
	background-color: turquoise;
	color: lightgrey;
}
