.container{
	width:  70vw;
	height: 70vh;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 8% 14%;
}

body {

	background-image: url("imgmusic/img/nebula.jpg");
	padding: 20px;
	width: auto;
	margin: 0 auto;
}

a:link, a:visited{
	background-color: white;
	color: darkgrey;
	border: 3px solid blue;
	padding: 8px 16px;
	text-align: center;
	text-decoration: inherit;
	text-decoration-color: turquoise;
	display: inline-block;
	margin-bottom: 8px;
	font-size: 30px;
}
a:hover, a:active{
	background-color: turquoise;
	color: lightgrey;
}
h2{
	font-size: 3em;
	color: turquoise;
	margin: 0;
}

li{
	color: white;
	margin-left: 0;
	text-align: left;
}

#play {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  padding: 1.5rem;
}

#title {
  font-size: 3.6rem;
  margin-bottom: 0.2rem;
}

.explain {
  padding: 0.6rem 0.4rem;
  margin-left: 12rem;
}

.flex {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
